./HW/acd_matrix/acd_matrix-backup/
./adc_matrix/HW/acd_matrix/dryer_adc-backups/
./SW/.metadata/.plugins/org.eclipse.cdt.core/.log
./SW/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
./SW/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
./SW/.metadata/.plugins/org.eclipse.core.resources/.root/12.tree
